@font-face {
    font-family: 'OpenSans-CondBold';
    src: url(../fonts/OpenSans-CondBold.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
    margin: 0px;
    padding: 0px;
}
p,h1,h2,h3,h4,h5,h6,span,label{
    font-family: "Roboto-Regular",sans-serif;
    font-size: 14px;
}