@font-face {
    font-family: myriad reg;
    src: url(../fonts/Myriad-Pro-Regular.ttf);
}
@font-face {
    font-family: myriad bold;
    src: url(../fonts/Myriad-Pro.ttf);
}
@font-face {
    font-family: myriad cond;
    src: url(../fonts/Myriad-Pro-Condensed.ttf);
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Bold.ttf);
}
/*Open Sans*/
h1 {
	font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Open Sans";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

/*---------------body------------------*/
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 10px;
    position: relative;
    cursor: auto;
    margin-top:20px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
.page_left {
    border: 2px solid #f1ebeb;
    /*margin-right: 5px;*/
    background-color: rgba(255,255,255,.25);
    /*min-height: 800px;*/
    /*height: 800px;*/
}
div.droppable {
    width: 100%;
    height: 100%;
    padding: 15px 15px 30px 30px;
}
.highlight{
    background: yellow;
}
.box_com{
    width: 100%;
}


.r_box_component {
    border: 2px dashed #bbb8b8;
    padding: 10px;
}
.dropable {
    padding-right: 15px;
    padding-left: 30px;
}
.frmb-control td {
    border: 1px solid gray;
    padding: 9px 40px;
}
.form_designed .col_com {
    border: none;
}

.form_designed {
    border: 2px dashed #cccccc;
    margin-top: 20px;
    padding: 15px 10px 20px 45px;
    display: none;
}
textarea {
    height: 30px;     
}
.column_sel{
    min-height: 53px;
}
.page_left{
        /* padding-left: 30px; */
        overflow-y: scroll;
}
.header h3 {font-size: 29px;}
.fieldset_head {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 3px !important;
    min-height: 48px;
    text-transform: uppercase;
    margin-top: -8px;
}
.column_sel h4 {
    margin: 0px;
}
.box_button button {
    padding: 5px 37px;
}
.column_sel {padding: 9px 0px 9px 0px;}
.box_icon,.icon_row {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}
.box_component:hover .box_icon{
    display: block;
}
.box_component h4 {
    margin: 0px;
}

.box_component {
    /* padding: 5px 0px 0px 0px; */
}
.header:hover .box_icon{
    display: block;
}
label {
    padding-top: 8px;
}
.title_header{
    margin-top: 20px;
    margin-bottom: 10px;
}
.fieldset_head h4 {font-family: "myriad cond";font-size: 26px;}
.fieldset_head label {
    padding: 6px !important;
}
.header {
    text-transform: uppercase;
    font-family: "myriad bold";
    font-size: 29px;
    min-height: 64px;
    margin-top: -22px;
    padding: 20px;
}
.fieldset_head .input_fieldset {
    font-family: "myriad cond";
    font-size: 22px;
    margin-top: 2px;
    text-transform: uppercase;
}
.fieldset_head h3 {
    font-family: "myriad cond";
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}
.fieldset_head .title {
    padding: 2px;
}
.box_component label.control-label {font-family: "myriad bold";}
.col_com {
    position: relative;
    padding: 0px 0px 0px 0px;
    border: 1px dashed #cccccc;
    min-height: 53px;
}

.head_page {
    min-height: 110px;
}
.component_row {
}
.box_icon button {
    padding: 3px 7px;
}

.style_div{
    position: absolute !important;
    top: 10px !important;
    left: auto !important;
}
.row_fieldset {
    padding: 10px 0px 0px 0px !important;
}
.page_left {
    height: 600px;
}
.box_header {
    padding-left: 0px;
}

@media screen and (max-width: 800px) { 
    .page_left {
        height: 500px;
    }
}
