body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 10px;
    position: relative;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
.page_left {
    border: 3px dotted #ccc;
    /*margin-right: 5px;*/
    background-color: rgba(255,255,255,.25);
    min-height: 447px;
}
div.droppable {
    width: 100%;
    height: 100%;
    padding: 15px 15px 30px 30px;
}
.highlight{
    background: yellow;
}
.box_com{
    width: 100%;
}
.box_component {
}
.r_box_component {
    border: 2px dashed #bbb8b8;
    padding: 10px;
}
.dropable {
    padding-right: 15px;
}
.frmb-control td {
    border: 1px solid gray;
    padding: 9px 40px;
}
.form_designed .column_sel {
    border: none;
}

.form_designed {
    border: 2px dashed #cccccc;
    margin-top: 20px;
}
textarea {
    height: 30px;     
}
.column_sel{
    min-height: 50px;
    border: 1px dashed #cccccc;
}
.page_left{
        padding-left: 30px;
}
//datepicker
.datepicker .day.old {
    color: #a9a7a7;
}

.datepicker .day.today.active {
    background: #337ab7;
    color: #fff;
    border-radius: 4px;
}
.datepicker .day:hover {
    cursor: pointer;
}
.datepicker .day {
    font-size: 15px;
}
//end datepicker
.column_sel h4 {
    margin: 0px;
    border-bottom: 1px solid gray;
}
.box_button button {
    padding: 5px 37px;
}
.column_sel {
    padding: 10px 0px;
}
.box_icon {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}
.box_component:hover .box_icon{
    display: block;
}


/*.box_icon i {
    border: 1px solid #b1b1b1;
    padding: 4px 6px;
    border-radius: 4px;
}*/
