body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 10px;
    position: relative;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
.page_left {
    border: 3px dotted #ccc;
    /*margin-right: 5px;*/
    background-color: rgba(255,255,255,.25);
    min-height: 447px;
}
div.droppable {
    width: 100%;
    height: 100%;
    padding: 15px 15px 30px 30px;
}
.highlight{
    background: yellow;
}
.box_com{
    width: 100%;
}
.box_component,.box_com {
    height: 53px;
}
.r_box_component {
    border: 2px dashed #bbb8b8;
    padding: 10px;
}
.dropable {
    padding-right: 15px;
}
.frmb-control td {
    border: 1px solid gray;
    padding: 9px 40px;
}
textarea {
    height: 30px;     
}
.column_sel{
    min-height: 50px;
    border: 1px dashed #cccccc;
}
.page_left{
        padding-left: 30px;
}

.column_sel h4 {
    margin: 0px;
    border-bottom: 1px solid gray;
}

.column_sel {
    padding: 10px 0px;
}
